.App {
  text-align: center;
  justify-content: center;
  display: grid;
}
.main {
  width: 350px;
  height: 500px;
  border: 1px solid black;
  margin-top: 20px;
}
.box {
  width: 100px;
  height: 100px;
}
.box:hover {
  cursor: pointer;
}
.boxes {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
